<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navigation">
        <a href="{{ url_for('welcome') }}" class="nav-item"> <img src="/static/images/home-icon.png"> </a>
        <a href="{{ url_for('account') }}" class="nav-item"> <img src="{{ user.get('pfp') }}" style="width: 2rem; height: auto;"> </a>
    </nav>

    <div class="profile-container">
        <img src="{{user.get('pfp')}}" class="profile-picture">
        <h1 class="profile-text" style="font-size: 4rem;">
            {{user.get('username')}}
            <br>
            <p style="font-size: large;">Games: Skins: {{ favorites|length }} </p>
        </h1>
    </div>

     <form method="POST" class="btn-container">
        <button type="submit" name="type" value="steam" class="{{'chosen-btn' if not is_fortnite else 'not-chosen-btn'}}">
            STEAM
        </button>
        <button type="submit" name="type" value="fortnite" class="{{'chosen-btn' if is_fortnite else 'not-chosen-btn'}}">
            FORTNITE
        </button> 
     </form>

     <div class="fortnite-card-container">
        {%for item in favorites %}
            <div class="fortnite-card">
                <img
                src="{{ item.image }}" 
                    alt="{{ item.skinname }}" 
                    width="128" 
                    height="128"
                    data-name="{{ item.name }}"
                >
                <p>{{ item.name }}</p>
                <button class="remove-btn"> <img src="/static/images/trash-icon.png"> </button>
            </div>
        {% endfor %}
     </div>
     
</body>

</html>