<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="navigation">
    <h1> <a href="{{ url_for('home') }}" class="click-text">snipr.gg</a></h1>
    <h1> <a href="{{ url_for('steam') }}" class="click-text">snipr.gg</a></h1>
    <h1> <a href="{{ url_for('fortnite') }}" class="click-text">snipr.gg</a></h1>
    <h1> <a href="{{ url_for('login') }}" class="click-text">login</a></h1>
</div>

<input type="text" placeholder="Search skins..." id="searchInput">


</html>